.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}
.navbar-title {
    color: white;
}
.day {
  width: 150px;
  padding:0px;
  z-index: 1;
  position:absolute;
  float:right;
}
.dropdown-menu {
  right: 0;
  left: auto;
}
.slot {
  background-color: lightgray;
  width: 150px;
  height: 30px;
  border: 1px solid black;
}
.item {
  background-color: white;
  width: 150px;
  height: 30px;
  float: right;
  border: 1px solid black;
  z-index: 2;
}

.column {
  float: left;
  width: 155px;
  padding:1%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding:25px;
  z-index: 2;
}

#schedule-container{
  height: 92vh;
  width: 100vw;
  border: 2px solid;
}
