.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}
.navbar-title {
    color: white;
}

.dropdown-menu {
  right: 0;
  left: auto;
}

.row {
  padding: 0;
}

.col {
  padding-left: 0;
  padding-right: 0;
}

.title-box{
  background-color: white;
  text-align: center;
  font-size: 30px;
  font-style: bold;
  border: 1px solid black;
}

.slot {
  background-color: white;
  width: auto;
  height: 50px;
  border: 1px solid black;
}
.item,
.item * {
  background-color: lightblue;
  width: auto;
  height: 50px;
  border: 1px solid black;
  z-index: 98 !important;
  min-height: 6.5em;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding: 4%;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
}

.sub-item{
  background-color: lightyellow;
  width: 80px;
  height: 30px;
  border: 1px solid black;
  z-index: 99 !important;
}

.form-group{
  width: 350px;
}
.form-control{
  width: 350px;
}
.forms-input{
  padding-left: 10px;
}

#navigation{
  height: 50px;
  width: 100vw;
}
