.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}
.navbar-title {
    color: white;
}
.pile {
  width: 150px;
  padding:0px;
  float: right;
  width: 200px;
  padding:5px;
}
.dropdown-menu {
  right: 0;
  left: auto;
}
.slot {
  background-color: lightgray;
  width: 150px;
  height: 30px;
  border: 1px solid black;
}
.item {
  background-color: white;
  width: 150px;
  height: 30px;
  border: 1px solid black;
}

#navigation{
  height: 58px;
  width: 100vw;
}
#schedule-container{
  height: 90vh;
  width: 99vw;
  border: 2px solid;
}
