#drag-1, #drag-2 {
  width: 25%;
  height: 20%;
  min-height: 6.5em;
  margin: 10%;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding: 4%;
  user-select: none;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.draggable,
.draggable * {
  -ms-touch-action: none;
  touch-action: none;
}
.parent{
  width: 300px;
  height: 300px;
  background-color: lightblue;
}
