html, body {
  max-width: 100%;
  max-height: 100vh;
}
/* make scrollbar transparent
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}*/

#navigation{
  height: 50px;
  z-index: 10 !important;
}

#schedule{
  width: auto;
  min-width: 1500px;
  height: calc(100% - 50px);
  padding: 0px;
  overflow-y: scroll;
  padding-left: 140px;
  z-index: 1 !important;
}

#schedule::-webkit-scrollbar {
  width: 0 !important;
}

#palette{
  float: left;
  background-color: #c9c9c9;
  height: calc(100% - 50px);
  width: 140px;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 5 !important;
}

#palette::-webkit-scrollbar {
  width: 0 !important;
}

.navbar {
  position: fixed;
}

.column {
  width: 20%;
  float: left;
}

.title-box {
  background-color: #c9c9c9;
  border: 1px solid black;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

/******************************PUCK CSS*************************************/
.source {
  cursor: pointer;
  width: 100%;
  height: 35px;
  position: relative;
  border: 1px solid black;
  user-select: none;
  touch-action: none;
}

.source:hover {
  border: 2px solid;
}

.item,
.item * {
  font-size: 20px;
  /* shadows */
  -webkit-box-shadow: 10px 10px 39px -10px rgba(0,0,0,0.9);
  -moz-box-shadow: 10px 10px 39px -10px rgba(0,0,0,0.9);
  box-shadow: 10px 10px 39px -10px rgba(0,0,0,0.9);
  border-radius: 5px;
  text-align: center;
  width: 100px;
  height: 35px;
  border: 1px solid black;
  z-index: 7 !important;
  cursor: pointer;
  position: absolute;
  user-select: none;
  touch-action: none;
}

.item-info {
  font-size: 12px;
  background-color : #c9c9c9;
  min-height: 0px;
  height: auto;
  position: absolute;
  cursor: default;
  padding: 3 8 3 8;
}

.item-delete {
  min-height: 0px;
  cursor: pointer;
  width: 40px;
  position: absolute;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}

.item-delete img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*"puck" applies to both source and item*/
.puck-name{
  /* shadows off*/
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  height: 60%;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  padding-left: 8px;
  text-align: left;
  font-weight: bold;
  border: none;
  pointer-events: none;
}

.puck-syllabus {
  /* shadows off */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  height: 30%;
  font-size: 10px;
  float: left;
  padding-left: 8px;
  width: 80%;
  text-align: left;
  font-style: oblique;
  border: none;
  pointer-events: none;
  overflow: visible;
}

.puck-warning {
  /* shadows off */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  height: 30%;
  float: left;
  font-size: 10px;
  width: 20%;
  text-align: center;
  font-weight: bold;
  border: none;
  pointer-events: none;
  overflow: visible;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 8px;
  border-radius: 6px;
  padding: 5px 0;
  opacity: 1;
  right: 5px;
  bottom: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 11 !important;
}

.source:hover .tooltip {
  visibility: visible;
}

/***************************SLOT CSS***************************************/
.slot {
  background-color: white;
  height: 50px;
  border: 1px solid black;
  font-size: 10;
}

.slot-line{
  float: left;
  font-size: 15;
  width: 7%;
  height: 100%;
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.slot-pilots{
  float: left;
  height: 100%;
  width: 48%;
}

.slot-pilot {
  text-align: center;
  font-size: 15;
  font-weight: bold;
  width: 100%;
  height: 50%;
  float: left;
  overflow: hidden;
  border: 1px solid black;
  background-color: silver;
}

.slot-specifics{
  float: left;
  width: 45%;
  height: 100%;
  cursor: pointer;
}

.slot-mission{
  float: left;
  height: 100%;
  width: 65%;
  font-size: 14;
  margin-top: 4px;
  font-weight: bold;
  text-align: center;
  pointer-events: none;
}

.slot-ship{
  float: left;
  height: 50%;
  width: 35%;
  font-size: 22;
  margin-top: -4px;
  margin-bottom: 3px;
  font-weight: bold;
  text-align: center;
}

.slot-times{
  float: left;
  height: 50%;
  width: 35%;
  font-size: 10;
  text-align: center;
}

/********************************OTHER CSS*******************************/
.popbox{
  /*added padding */
  padding: 15px;
  box-shadow: 10px 10px 39px -10px rgba(0,0,0,0.9);
  display: none;
  border: 1px solid black;
  width: 250px;
  position: absolute;
  background-color : #c9c9c9;
}

.input-line{
  width: 100%;
  float: right;
}

.popbox input{
  width: 50%;
  float: right;
}

/* testing buttons */
.mission {color: green;}
.config {color: dodgerblue;}
.airspace {color: orange;}
