html, body {
  max-width: 100%;
  max-height: 100vh;
}
/* make scrollbar transparent
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}*/

#navigation{
  height: 50px;
  z-index: 99 !important;
}

#schedule{
  width: auto;
  height: calc(100% - 50px);
  padding: 0px;
  overflow-y: scroll;
  padding-left: 12%;
}

#palette{
  float: left;
  background-color: #c9c9c9;
  height: calc(100% - 50px);
  width: 12%;
  position:fixed;
  overflow-y: scroll;
}

.navbar {
  position: fixed;
}

.column {
  width: 20%;
  float: left;
}

.title-box {
  background-color: #c9c9c9;
  border: 1px solid black;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

/******************************PUCK CSS*************************************/
.source {
  cursor: pointer;
  width: 100%;
  height: 40px;
  position: relative;
  border: 1px solid black;
  user-select: none;
  touch-action: none;
}

.source:hover {
  border: 2px solid;
}

.item,
.item * {
  font-size: 20px;
  /* shadows */
  -webkit-box-shadow: 10px 10px 39px -10px rgba(0,0,0,0.9);
  -moz-box-shadow: 10px 10px 39px -10px rgba(0,0,0,0.9);
  box-shadow: 10px 10px 39px -10px rgba(0,0,0,0.9);
  border-radius: 5px;
  text-align: center;
  width: 100px;
  height: 50px;
  min-height: 50px;
  border: 1px solid black;
  z-index: 90 !important;
  cursor: pointer;
  position: absolute;
  user-select: none;
  touch-action: none;
}

.item-info {
  font-size: 12px;
  background-color : #c9c9c9;
  min-height: 0px;
  height: auto;
  position: absolute;
  cursor: default;
  padding: 3 8 3 8;
}

.item-delete {
  min-height: 0px;
  cursor: pointer;
  width: 50px;
  position: absolute;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}

.item-delete img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.puck-name{
  /* shadows off*/
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  min-height: 0px;
  height: 60%;
  font-size: 20px;
  padding-left: 8px;
  text-align: left;
  font-weight: bold;
  border: none;
  pointer-events: none;
}

.puck-syllabus {
  /* shadows off */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  min-height: 0;
  height: 30%;
  font-size: 10px;
  padding-left: 8px;
  text-align: left;
  font-style: oblique;
  border: none;
  pointer-events: none;
  overflow: visible;
}

/***************************SLOT CSS***************************************/
.slot {
  background-color: white;
  height: 60px;
  border: 1px solid black;
  z-index: 70;
  font-size: 10;
}

.slot-line{
  float: left;
  height: 100%;
  width: 15%;
  font-size: 15;
  text-align: center;
}

.slot-pilots{
  float: left;
  height: 100%;
  width: 45%;
}

.slot-pilot {
  text-align: center;
  font-size: 15;
  font-weight: bold;
  width: 100%;
  height: 50%;
  float: left;
  border: 1px solid black;
}

.slot-mission{
  float: left;
  height: 75%;
  width: 30%;
  font-size: 15;
  text-align: center;
}

.slot-ship{
  float: left;
  height: 75%;
  width: 10%;
  font-size: 26;
  text-align: center;
}

.slot-times{
  float: left;
  height: 25%;
  width: 40%;
  font-size: 12;
  text-align: center;
}

/********************************OTHER CSS*******************************/
.popbox{
  /*added padding */
  padding: 15px;
  border-radius: 5px;
  /* shadows */
  -webkit-box-shadow: 10px 10px 39px -10px rgba(0,0,0,0.9);
  -moz-box-shadow: 10px 10px 39px -10px rgba(0,0,0,0.9);
  box-shadow: 10px 10px 39px -10px rgba(0,0,0,0.9);
  display: none;
  border: 1px solid black;
  position: absolute;
  background-color : #c9c9c9;
}

/* testing buttons */
input {
  visibility: hidden;
}

input:checked + label {
    background: #eee;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {
  background: #eee;
}
.done {
  background: WHITE;
  float: right;
  border: 1px solid black;
  border-radius: 3px;
  padding: 4px 6px;
}
.mission {color: green;}
.config {color: dodgerblue;}
.airspace {color: orange;}
/* testing buttons */

/*OLD AND UNUSED*/
/********************************PALETTE CSS**********************************/
.palette,
.palette * {
  /* shadows */
  -webkit-box-shadow: 10px 10px 39px -10px rgba(0,0,0,0.9);
  -moz-box-shadow: 10px 10px 39px -10px rgba(0,0,0,0.9);
  box-shadow: 10px 10px 39px -10px rgba(0,0,0,0.9);

  border-radius: 5px;
  background-color: lightyellow;
  min-width: 100px;
  min-height: 40px;
  width: 7vw;
  height: 6vh;
  border: 1px solid black;
  z-index: 80 !important;
  position: absolute;
  user-select: none;
  touch-action: none;
  cursor: pointer;
  text-align: left;
  outline: none;
  font-size: 25px;
}

.palette:after {
  content: '+';
  font-weight: bold;
  float: right;
}

.expand:after {
  content: '-';
  font-weight: bold;
  float: right;
}

.palette:hover {
  background-color: #ccc;
}

.palette-content {
  font-style: oblique;
  text-align: center;
  font-size: 20px;
  max-height: 0;
  width: 18vw;
  min-width: 300px;
  overflow: hidden;
  position: absolute;
/*transition: max-height 0s;*/
  z-index: 80 !important;
}
