<!-- The Schedule -->
<!--What kind of views do we want to include in our schedule solution?-->
<!--What restrictions should we place on the various views?-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- manual CSS specifications -->
    <style>
      body{
        padding-top: 56px;
      }
      img {
        width: 100%;
        height: auto;
      }
      #schedule-container{
        height: 92vh;
        width: 100vw;
        border: 2px solid;
      }
    </style>
    <title>Schedule - 4th Fighter Wing</title>
  </head>
  <body>
    <!-- Fixed navbar which I copied and pasted from Bootstrap website -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">4th Fighter Wing Scheduling</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Schedule <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Medical <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Maintenance <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Operations <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Training <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Help <span class="sr-only">(current)</span></a>
          </li>
        </ul>

      </div>
    </nav>
    <div class="container-fluid" id="schedule-container" style="background:gray">
      <!--Sample schedule picture -->
      <img src="ScheduleExample.jpg" alt="Schedule (probably in JavaScript) goes here">
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>

<accordion close-others="false">
       <accordion-group is-open="isopen">
         <accordion-heading ng-click="isopen=!isopen">
         <div>{{item.Title}}</div>
         </accordion-heading>
         <div ng-bind-html="item.Content"></div>
       <ol ui-tree-nodes="" ng-model="item.Options">
         <li ng-repeat="subItem in item.Options " ui-tree-node>
           <div ui-tree-handle>
             <accordion close-others="false">
               <accordion-group>
                 <accordion-heading>{{subItem.Title}}
                 </accordion-heading>
                 <div ng-bind-html="subItem.Content"></div>
               </accordion-group>
             </accordion>
           </div>
         </li>
       </ol>
       </accordion-group>
     </accordion>
